<h1> ADD a new Creature</h1>


<form action="/prehistoric_creatures" method="POST">
    <label for ="creaturesType">Type </label>
    <input type="text" name="type" id="creaturesType">   

    <label for="creaturesName"> Image Url</label>
    <input type="text" name="img_url" id="creaturesName">
    <input type="submit">
</form>